/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /* max-width: 280px;*/
}



#bodyColor {
    background-color: #d6deff;
    /*  background-image: url("https://wallpapercave.com/wp/wp2463804.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("/Content/Imgs/mini antho.jpg");
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.navbar {
    background-color: #000000;
    border-bottom: 6px solid #fa00d9;
}

.imgHeight {
    height: 18rem;
    object-fit: cover;
}

#nomeEvento {
    max-width: 280px;
    margin: auto;
}

#cerca {
    background-color: #00d1ff;
    border: none;
    color: white;
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
}

#aggCarrello {
    display: flex;
    justify-content: center;
}




.m-auto {
    background-color: #50eef1;
    border: none;
    color: white;
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
}

#listEvent {
    color: blue;
}

.card-text {
    display: flex;
    justify-content: center;
}

.textEvent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.categoriaCard {
    font-size: 14px;
}

.TitoloCard {
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: #0000008c;
    color: white;
}

/*====== 'Create' di Tutte lege Pg ======*/

.bodyCrea {
    padding: 14px;
}

.create {
    display: flex;
    justify-content: center;
}



/*Card Dettaglio*/
.ContainerTextDettagli {
    display: flex;
    justify-content: space-around;
    
}

.TextDettagli {
    border-bottom: 1px solid #00f7f7;
    font-size: 17px;
}

.colorDettagli {
    background-color: #0000008c;
    color: white;
}



/*Pg Evento*/
.creaEvento {
    color: red;
}

.bi-trash3 {
    color: red;
}

#cardEvent {
    background-color: #0000008c;
    color: white;
}

#cardEvent:hover {
    
    box-shadow: -5px 6px 20px 0px rgb(0 209 255), 2px -3px 20px 0px rgb(250 0 217);
}

#cardEvent:hover {
    content: ":hover";
}

.BtnDettaglio {
    display: flex;
    margin: 12px 12px;
}



/*PG DettaglioEvento*/
#ContainerNomeDettaglio {
    margin: 12px 38px;
}


.NomeDettaglio {
    width: auto;
    /*background-color: white;*/
    display: flex;
    justify-content: center;
    border-radius: 32px;
    color: white;
    font-family: fangsong;
}

.comment {
    margin: 0px 33px;
    display: flex;
    justify-content: space-around;
}

.TextCommt {
    display: flex;
    justify-content: space-between;
}

.cardCommt {
    margin: 12px 7px;
}

.dataCommt {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.CommRecen {
    margin: 0px 35px;
}

.CommentiBt {
    display: flex;
    justify-content: center;
    border-radius: 23px;
    background-color: #0000008c;
    color: white;
    font-family: fangsong;
}

#CommentaBt {
    background-color: #50eef1;
    border: none;
    color: white;
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
}

.RecensioneBt {
    display: flex;
    justify-content: center;
    border-radius: 23px;
    background-color: #0000008c;
    color: white;
    font-family: fangsong;
}


/*======table======*/

.tableContainer {
    display: flex;
    justify-content: center;
}

.table {
    width: 50%;
    background-color: #0000008c;
    color: white;
}
tr{
    color:white;
}

td{
    color:white;
}

.ConcludiOrdine {
    display: flex;
    justify-content: space-evenly;
}

#totaleCarrello {
    color: white;
    font-size: 22px;
}

#Concludi {
    background-color: #00d1ff;
    border: none;
    color: white;
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
}




/*========== Stile Home ========= */
.content {
    /*display: grid;*/
    /*grid-template-columns: 75% 25%;*/
}



.left-content {
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: #0000008c;
    color: white;
    margin: 1rem 4rem;
    padding: 20px;
    border-radius: 15px;
}


.activities h1 {
    margin: 0 0 20px;
    font-size: 1.4rem;
    font-weight: 700;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 150px);
    column-gap: 10px;
}


.img-one {
    grid-area: 1 / 1 / 2 / 2;
}

.img-two {
    grid-area: 2 / 1 / 3 / 2;
}

.img-three {
    display: block;
    grid-area: 1 / 2 / 3 / 4;
}

.img-four {
    grid-area: 1 / 4 / 2 / 5;
}

.img-five {
    grid-area: 1 / 5 / 2 / 6;
}

.img-six {
    display: block;
    grid-area: 2 / 4 / 3 / 6;
}


.image-container {
    position: relative;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 179deg, transparent, #db3ed266, rgb(147 234 239 / 65%) );
    border-radius: 10px;
    transition: all 0.6s linear;
}


.image-container:hover .overlay {
    opacity: 0;
}

.overlay h3 {
    margin-bottom: 8px;
    margin-right: 10px;
    color: #fff;
}

/*========== PG Utenti ==========*/

/*details*/
.detailsUtente {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000008c;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
    border-bottom: 2px solid #00d1ff;
}

.TornaIndietro {
    display: flex;
    justify-content: center;
}


#BtnEliDetaEdit {
    display: flex;
    justify-content: space-around;
    border-bottom-width: 0px;
}
/*.torna{
    text-decoration:none;
    color:white;
}*/
/*========= PG Login ===========*/
.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: -4px 5px 20px 0px rgb(0 209 255), 3px 1px 20px 0px rgb(250 0 217);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 19px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

    .btn-outline-primary:hover {
        background-color: #0DB8DE;
        right: 0px;
    }

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

#login {
    display: flex;
    justify-content: center;
    width: auto;
}

.loginbttm {
    padding: 0px;
}

#colorLogin {
    text-decoration: none;
    color: #00d1ff;
}

/*===========Footer=============*/
.footer {
    background: #000000;
    color: white;
    border-top: 6px solid #00d1ff;
}

.footer .links ul {
     list-style-type: none;
}

.footer .links li a {
    color: white;
    transition: color .2s;
}

.footer .links li a:hover {
     text-decoration: none;
     color: #4180CB;
}

.footer .about-company i {
     font-size: 25px;
}

.footer .about-company a {
    color: white;
    transition: color .2s;
}

.footer .about-company a:hover {
    color: #4180CB;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
